body { }

#video-realtime-labels {
  margin: 0 auto;
  text-align: center;
}

video {
  vertical-align: middle;
  min-width: 500px;
  max-height: 500px;
}

#realtime-labels {
  vertical-align: middle;
}

#predictions {
  text-align: center;
}

.active-label {
  color: white;
  background: black;
}

